<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="Timetable webapp for UNSW students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pycoon Add Class</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="styles.css"> 
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../../static/src/js/add_assessment.js"></script>
    <script src="../../static/semantic/dist/semantic.min.js"></script>
    
</head>
<body>
    
<!--    <div class="ui container"> -->
    
    <div class="ui secondary menu">
        <button class="ui left labeled icon button" onclick="window.location.href='{{url_for('main.course', course_id=course_id)}}'">
            <i class="left arrow icon"></i>
                Back
        </button>
    </div>
    
    <div class="ui center aligned middle aligned grid" id="container">
        <div class="six wide column" id="add-assessment">
            <h2>Add New Class</h2>

            <form class="ui form left aligned segment" method="POST" action="{{ url_for('main.add_class', course_id=course_id) }}"
                  name="myForm" onsubmit="return validateForm()">

                <div class="field dropdown" id="course-select" name="dropdown" style="width:100%;margin-left:auto;margin-right:auto;">
                    <label>Type</label> 
                    <select style="width: 50%;border-radius: 0.5rem!important;" name="type">
                        <option value="Lecture">Lecture</option>
                        <option value="Tutorial">Tutorial</option>
                        <option value="Lab">Lab</option>
                        <option value="Seminar">Seminar</option>
                        <option value="Meeting">Meeting</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="field">
                    <label>Location</label>
                    <input type="text" name="location" placeholder="Location">
                </div>
                <div class="field dropdown" id="course-select" name="dropdown" style="width:100%;margin-left:auto;margin-right:auto;">
                    <label>Day</label> 
                    <select style="width: 50%;border-radius: 0.5rem!important;" name="day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="field">
                    <label>Start Time</label>
                    <input type="time" name="start_time">
                </div>
                <div class="field">
                    <label>End Time</label>
                    <input type="time" name="end_time">
                </div>
                <div class="field">
                    <label>Notes (optional)</label>
                    <input type="text" name="notes" placeholder="Notes">
                </div>
                <div class="field">
                    <label>Weeks</label>
              <!--      <input type="text" name="weeks" placeholder="Weeks">  -->
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="weeks">
                    <label value="1">Week 1</label>
                    <label value="2">Week 2</label>
                    <label value="3">Week 3</label>
                    
                <!--    {% for week in weeks %}
                    {{week}}
                    {% endfor %} -->
                </div>

                </br></br>

                <!-- <div class="wrapper"> -->
                    <button name="cancel" type="button" class="medium ui button" onclick="window.location.href='{{ url_for('main.course', course_id=course_id) }}'">
                        Cancel
                    </button>
                    <button name="confirm" type="submit" value ="submit" class="medium ui primary button" >
                          Confirm
                    </button>
                <!-- </div> -->
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</body>
</html>
