<!DOCTYPE html>
<html>
{% block body %}
<h1>Add Assessment</h1>

<div>
    <form method="POST">
      <div>
        <input name="title" {% if form %}value={{form['title']}}{% endif %}>Title</input>
        <br/>
        <input type="date" name="due_date" {% if form %}value={{form['due_date']}}{% endif %}>Due Date</input>
        <br/>
      </div>
      {% if error %}
          {{error}}
          <br/>
      {% endif %}
      <button name="confirm" type="submit">Confirm</button>
    </form>
  </div>
{% endblock %}
</html>