<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section>

        <div>
            <nav>
                <div>

                    <div>
                        <div>
                            <a href="{{ url_for('main.home') }}">
                                Home
                            </a>
                            <a href="{{ url_for('main.signup') }}">
                                Sign Up
                            </a>
                            <a href="{{ url_for('main.logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div>
            <div>
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>