<!DOCTYPE html>
<html>
<head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pycoon Class Page</title>
        <meta name="description" content="Timetable webapp for UNSW students">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Semantic UI -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/dist/semantic.min.css')}}">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='semantic/dist/semantic.min.js')}}"></script>

        <script src="../../static/src/js/class_page.js"></script>

    
</head>
<body>
    
    <h1>Class Page</h1>
    <h1>{{curr_class.type.name}}</h1>
    <h1>{{curr_class.time}}</h1>
    <h1>{{curr_class.weeks}}</h1>
    <h1>{{curr_class.day}}</h1>
    <h1>{{curr_class.location}}</h1>
    <a href="{{url_for('main.edit_class', class_id = curr_class.id)}}">
            Edit Class
        
</body>
</html>
