<!DOCTYPE html>
<html>
    <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Pycoon Class Page</title>
            <meta name="description" content="Timetable webapp for UNSW students">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Semantic UI -->
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/dist/semantic.min.css')}}">
            <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
            <script src="{{url_for('static', filename='semantic/dist/semantic.min.js')}}"></script>

            <script src="../../static/src/js/class_page.js"></script>

        <style>
            label{
                display: inline-block;
                float: left;
                clear: left;
                width: 250px;
                text-align: right;
            }
            input {
              display: inline-block;
              float: left;
            }
        </style>

    </head>
<body>
    
    <div class="ui secondary menu">
            <button class="ui left labeled icon button" onclick="window.location.href='{{url_for('main.course', course_id=curr_class.course_id)}}'">
                <i class="left arrow icon"></i>
                Back
            </button>
    </div>
    
    <h1 style="text-align:center">Class Information</h1>
    
    <div class="ui center aligned middle aligned grid" id="container">
        <div class="twelve wide column" id="course-page">
            
            <a href="{{url_for('main.edit_class', class_id = curr_class.id)}}">
                <button class="compact ui button">
                    Edit
                </button>
            </a>
            <a href="{{url_for('main.delete_class', class_id = curr_class.id)}}">
                <button class="negative compact ui button">
                    Delete
                </button>
            </a>
            </br>
            
            <form class="ui form center aligned segment">
                <div align="center">
                    <table style="width:50%" align="center">
                      <col width="130">
                      <col width="130">
                      <tr>
                        <td><h3 >Type</h3></td>
                        <td><h3 style="text-transform:capitalize">: {{curr_class.type.name}}</h3></td>
                      </tr>
                      <tr>
                        <td><h3 >Day</h3></td>
                        <td><h3 >: {{curr_class.day}}</h3></td>
                      </tr>
                      <tr>
                        <td><h3 >Time</h3></td>
                        <td><h3 >: {{curr_class.time}} - {{curr_class.end_time}}</h3></td>
                      </tr>
                      <tr>
                        <td><h3 >Location</h3></td>
                        <td><h3 >: {{curr_class.location}}</h3></td>
                      </tr>
                      <tr>
                        <td><h3 >Weeks</h3></td>
                        <td><h3 >: {{curr_class.weeks}}</h3></td>
                      </tr>
                      <tr>
                        <td><h3 >Notes</h3></td>
                        <td><h3 >: {{curr_class.notes}}</h3></td>
                      </tr>
                    </table>

                </div>
            </form>
        </div>
    </div>
        
        
</body>
</html>
