<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="Timetable webapp for UNSW students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pycoon Edit Class</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="styles.css"> 
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../../static/src/js/add_class.js"></script>
    <script src="../../static/semantic/dist/semantic.min.js"></script>
    
</head>
<body>
    
<!--    <div class="ui container"> -->
    
    <div class="ui secondary menu">
        <button class="ui left labeled icon button" onclick="window.location.href='{{url_for('main.class_page', class_id=class_id)}}'">
            <i class="left arrow icon"></i>
                Back
        </button>
    </div>
    
    <div class="ui center aligned middle aligned grid" id="container">
        <div class="six wide column" id="edit-class">
            <h2>Edit Class</h2>

            <form class="ui form left aligned segment" method="POST" action="{{ url_for('main.edit_class', class_id = class_curr.id) }}"
                  name="myForm" onsubmit="return validateForm()">
                
                <div class="field dropdown" id="course-select" name="dropdown" style="width:100%;margin-left:auto;margin-right:auto;">
                    <label>Type</label> 
                    <select style="width: 100%;border-radius: 0.5rem!important;" name="type" value="{{class_curr.type}}">
                        <option disabled selected value> -- select a class type -- </option>
                        <option value="lecture">Lecture</option>
                        <option value="tutorial">Tutorial</option>
                        <option value="lab">Lab</option>
                        <option value="seminar">Seminar</option>
                        <option value="meeting">Meeting</option>
                        <option value="other">Other</option>
                    </select>
                </div>

       <!--         <div class="field">
                    <label>Type</label>
                    <input type="text" name="type" value="{{class_curr.type}}" placeholder="Class Type">
                </div>  -->
                                                                                                       
                <div class="field">
                    <label>Location</label>
                    <input type="text" name="location" value="{{class_curr.location}}">
                </div>
                <div class="field dropdown" id="course-select" name="dropdown" style="width:100%;margin-left:auto;margin-right:auto;">
                    <label>Day</label> 
                    <select style="width: 50%;border-radius: 0.5rem!important;" name="day" value="{{class_curr.day}}">
                        <option disabled selected value> -- select a day -- </option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>                                                                                       
          <!--      <div class="field">
                    <label>Day</label>
                    <input type="text" value="{{class_curr.day}}" name="day">
                </div>      -->
                 <div class="field">
                    <label>Start Time</label>
                    <input type="time" name="start_time" value="{{class_curr.time}}">
                </div>
                <div class="field">
                    <label>End Time</label>
                    <input type="time" name="end_time">
                </div>
                <div class="field">
                    <label>Notes (optional)</label>
                    <input type="text" name="notes" placeholder="Notes">
                </div>
                <div class="field">
                    <label>Weeks</label>
                    <div id="demo"></div>
                    <script>
                        var x ="", i;
                        for (i=1; i<=2; i++) {

                          x = x + "<div class='item'>" +
                            "<div class='ui child checkbox'>" +
                              "<input type='checkbox' name='weeks'>" +
                              "<label>Week " + i + "</label>" +
                            "</div>" +
                          "</div>"

                        }
                        document.getElementById("demo").innerHTML = x;
                    </script>  
                </div>
                    
                </br></br>     

                <!-- <div class="wrapper"> -->
                    <button name="cancel" type="button" class="medium ui button" onclick="window.location.href='{{ url_for('main.class_page', class_id=class_id) }}'">
                        Cancel
                    </button>
                    <button name="confirm" type="submit" value ="submit" class="medium ui primary button" >
                        Confirm
                    </button>
                <!-- </div> -->
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</body>
</html>
