<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pycoon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- semantic UI -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/dist/semantic.min.css')}}">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='semantic/dist/semantic.min.js')}}"></script>


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/styles.css') }}">

        <script src="../static/src/js/home.js"></script>
    </head>
    <body>
        <div class="ui secondary menu">
            <button class="ui left labeled icon button" onclick="window.location.href='{{url_for('main.logout')}}'">
                <i class="left arrow icon"></i>
                Logout
            </button>
        </div>
        <div class="ui centered container" id="scrollable">
            <div class="ui centered grid">
              <div id="list" class="ten wide left aligned column">
                  
                 <!-- DO NOT REMOVE YET, MAYBE NEEDED IN THE FUTURE -->
                  <!-- <div class="ui massive segment">
                    <label>TERM</label>
                    <div class="ui divider"></div>
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <div class="ui orange horizontal label">Start</div>
                            Date
                        </div>
                        <div class="ui segment">
                            <div class="ui blue horizontal label">end</div>
                            Date
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui indicating progress" data-value="1" data-total="10" id="example4">
                        <div class="bar"></div>
                        <div class="label">Week</div>
                    </div>

                    <button type="button" class="fluid blue ui button">View</button>
                  </div> -->
              </div>
            </div>
        </div>
    </body>
</html>