{% extends "base.html" %}

{% block content %}
<div>
    <h3>PyCOON</h3>
    <div>
        <form method="POST" action="/">
            <div>
                <div>
                    <input type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <button>Login</button>
        </form>
    </div>
</div>
{% endblock %}