<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pycoon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- semantic UI -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='semantic/dist/semantic.min.css')}}">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="../static/semantic/dist/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/styles.css') }}">
        <script src="../static/src/js/signup.js"></script>
    </head>
    <body>
        <div class="ui secondary menu">
            <button class="ui left labeled icon button" formaction="/" onclick="window.location.href='{{url_for('main.login')}}'">
                <i class="left arrow icon"></i>
                Back
            </button>
        </div>
        <div class="ui center aligned middle aligned grid" id="container">
            <div class="column" id="login">
                <h2 class="ui black image header">            
                    Register
                </h2>
                <form method="POST" action="/signup">
                    <div class="ui large form">
                        <div class="ui grid">
                            <div class="four wide column">
                                <label>Fullname</label>
                            </div>
                            <div class= "twelve wide column">
                                <div class="ui input">
                                    <input id="name" type="text" name="name" placeholder="Fullname">
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="four wide column">
                                <label>E-mail</label>
                            </div>
                            <div class="twelve wide column">
                                <div class="ui input">
                                    <input id="email" type="text" name="email" placeholder="E-mail">
                                </div>
                            </div>
                            <!-- <div class="sixteen wide column">
                                <div id="notif" class="ui fluid red message hidden">Please fill the empty field</div>
                            </div> -->
                            <!-- <div id="notif" class="ui error message">
                                <i class="close icon"></i>
                                <div class="header">
                                    There were some errors with your submission
                                </div>
                                <ul class="list">
                                    <li>You must include both a upper and lower case letters in your password.</li>
                                    <li>You need to select your home country.</li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="ui grid">
                            <div class="four wide column">
                                <label>Password</label>
                            </div>
                            <div class="twelve wide column">
                                <div class="ui input">
                                    <input id="password" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="four wide column">
                                <label>Confirm Password</label>
                            </div>
                            <div class="twelve wide column">
                                <div class="ui input">
                                    <input id="repassword" type="password" name="password" placeholder="Re-enter Password">
                                </div>
                            </div>
                            <!-- <div class="sixteen wide column">
                                <div id="notif1" class="ui fluid red message hidden">Passwords must match</div>
                            </div> -->
                        </div>
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                <div class="ui buttons">
                                    <button type="button" class="medium ui button" formaction="/" onclick="window.location.href='{{url_for('main.login')}}'">
                                        Back to Login
                                    </button>
                                    <button id="register" class="medium ui primary button" onclick="window.location.href='{{url_for('main.signup')}}'">
                                        Register
                                    </button>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </form>
                
                    
            </div>
        </div>
    </body>
</html>