<!DOCTYPE html>
<html>
<h1>Term Page</h1>
<h1>{{term.title}}</h1>
<h1>{{term.id}}</h1>
<ul>
    {% for course in courses %}
            
        <li><a href="{{url_for('main.course', course_id=course.id)}}">{{course.code}} - {{course.title}}</a> 
            || <a href="{{url_for('main.delete_course', course_id=course.id)}}">Delete</a></li>
        
    {% endfor %}
    <a href="{{ url_for('main.add_course', term_id = term.id) }}">
        Add Course
    </a>
    <br/>
    <br/>
    <a href="{{ url_for('main.calendar', term_id = term.id) }}">
        Go to Calendar
    </a>
</ul>
</html>